<div class="user">
  <h2><%= t('.sign_up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :ユーザー画像 %><br/>
      <%= f.file_field :image, autofocus: true, autocomplete: "image"  %>
    </div><br>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名を入力", size: 30 %>
    </div><br>

    <div class="field">
      <%= f.text_area :comment, autofocus: true, autocomplete: "comment", placeholder: "コメントを入力", size: "50x3" %>
    </div><br>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Emailを入力", size: 30 %>
    </div><br>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力", size: 30 %>
    </div><br>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを入力", size: 30 %>
    </div><br>

    <div class="actions">
      <%= f.submit t('.sign_up') %>
    </div>
  <% end %><br>

  <%= render "devise/shared/links" %>
</div>
