<%= form_with(model: [@post, @other_post], local: true) do |form| %>
  <% if @other_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @other_post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @other_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="other_post_area">
    <h2>詳細情報の編集</h2>
    <p>
      <%= form.select :vaccination, OtherPost.vaccinations.keys %>
      <%= form.select :operation, OtherPost.operations.keys %>
    </P>
    <P>
      <%= form.select :single, OtherPost.singles.keys %>
      <%= form.select :old_age, OtherPost.old_ages.keys %>
    </P>
    <div class="other_post_health_statusr">
      <%= form.label :健康状態 %><br>
      <%= form.text_area :health_status, size: "45x2" %>
    </div>
    <div class="other_post_character">
      <%= form.label :性格・特徴 %><br>
      <%= form.text_area :character, size: "45x2" %>
    </div>
    <div class="other_post_surrender">
      <%= form.label :引き渡し条件 %><br>
      <%= form.text_area :surrender, size: "45x2" %>
    </div>
    <div class="other_post_health_note">
      <%= form.label :備考 %><br>
      <%= form.text_area :note, size: "45x2" %>
    </div><br>
    <%= form.submit "詳細情報を更新する" %>
  </div>
<% end %>