<div class="post_area">
  <h2>以下の内容で、送信する。</h2>
  <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.hidden_field :comment %>
    <%= form.hidden_field :breed %>
    <%= form.hidden_field :gender %>
    <%= form.hidden_field :age %>
    <%= form.hidden_field :prefecture %>
    <%= form.hidden_field :address %>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %><br><br>
    <table class="post_text_area">
      <th>紹介文</th>
      <td><%= @post.comment %></td>
    </table><br>

    <table class="post_text">
      <tr>
        <th>　　種類　　</th>
        <td><%= @post.breed %></td>
        <th>　　性別　　</th>
        <td><%= @post.gender %></td>
      </tr>
      <tr>
        <th>　推定年齢　</th>
        <td><%= @post.breed %></td>
        <th>　 エリア 　</th>
        <td><%= @post.prefecture %></td>
      </tr>
    </table><br><br>
    <p>保護した場所：<%= @post.address %></p>
    <%= form.submit "投稿する" %>
  <% end %><br>

  <%= form_with(model:@post, url:new_post_path, local:true, method:"get") do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "戻る", name: "back" %>
  <% end %>
</div>