<h1>ブログ詳細画面</h1>
<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url %>
</p>
<p>投稿者: <%= link_to "#{@post.user.name}", user_path(@post.user) %></p>
<p>紹介文: <%= @post.comment %></p>
<p>種類: <%= @post.breed %></p>
<p>性別: <%= @post.gender %></p>
<p>推定年齢: <%= @post.age %></p>
<p>エリア: <%= @post.prefecture %></p>

<%= link_to 'この投稿者にメッセージ', conversations_path(sender_id: current_user.id, recipient_id: @post.user.id), method: :post %>

<%= link_to '投稿一覧画面に戻る', posts_path %>
